accelerate==0.26.1
easydict==1.10
einops==0.6.1
fschat==0.2.7
fvcore==0.1.5.post20221221
hydra-core==1.3.2
jsonlines==3.1.0
nltk==3.8.1
numpy==1.25.0
numpy-quaternion
omegaconf==2.3.0
openai-clip
opencv-python==4.7.0.72
pandas==2.0.2
scipy==1.11.1
sentence-transformers==2.2.2
sentencepiece==0.1.99
submitit==1.4.5
timm==0.9.7
tokenizers==0.13.3
transformers==4.28.1
transforms3d
trimesh==3.22.3
wandb==0.15.4
